<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <% if (user && user.username) { %>
        <li><a href="#orders">Orders</a></li>
        <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if (user && user.username) { %>
        <li><a href='#profile'><%= user.username %></a></li>
        <li><a class='glyphicon glyphicon-log-out glywhite'></a></li>
        <% } %>
    </ul>
</div>