<div class="card">
    <div class="card-header">
        <h3 class="card-title float-left">Create order</h3>
        <button type="button" class="close float-right" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <div class="card-body">
        <div class="input-group mb-3">
            <input name="description" type="text" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="button-create">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-create">Create</button>
            </div>
        </div>
    </div>
</div>

