<div class="card mx-auto">
    <div class="card-header">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li class="dropdown-item"><a href="http://www.jquery2dotnet.com">Edit</a>
                </li>
                <li class="dropdown-item"><a href="http://www.jquery2dotnet.com"><span
                        class="glyphicon glyphicon-trash"></span>Delete</a>
                </li>
                <li class="dropdown-item"><a href="http://www.jquery2dotnet.com"><span
                        class="glyphicon glyphicon-flag"></span>Flag</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <ul class="list-group list-group-flush">
            <% orders.each(function(o) { %>
            <li class="list-group-item">
                        <span>Id: <%= o.get('id') %>, description: <%= o.get('description') %>
                        </span>
            </li>
            <% }); %>
        </ul>
    </div>
    <div class="card-footer">
        <h6>Total Count <span class="label label-info"><%= orders.length %></span></h6>
    </div>
</div>
